.create-mode {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 250px;
  align-items: center;
}

.mode-chooser {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.photos-container {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.photo-names {
  font-style: italic;
}

.map-top {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  opacity: 0.1;
}
