@mixin lg {
  @media (min-width: 865px) {
    @content;
  }
}

a {
  text-decoration: none;
  margin-left: 30px;
  margin-top: 0;
}

.nav-elements {
  margin: 0 20px;
  @include lg {
    margin: 0 100px;
  }
  height: 82px;
  width: 85vw;
  min-width: 750px;
}

.logo {
  font-size: 30px;
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.arrow {
  border: solid #f50157;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.user-menu {
  border-left: 1px solid grey;
}
.user-menu-link {
  margin-left: 0;
}

.mountain {
  width: 30px;
}

.user-elements {
  width: 250px;
  display: flex;
  justify-content: flex-end;
}
