@mixin lg {
  @media (min-width: 865px) {
    @content;
  }
}

a {
  text-decoration: none;
  margin-left: 30px;
}

.nav-elements {
  margin: 0 20px;
  @include lg {
    margin: 0px 100px;
  }
  height: 82px;
  min-width: 750px;

  // border-bottom: 1px solid lightgray;
}

.logo {
  font-size: 30px;
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.arrow {
  border: solid #f50157;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.user_greeting {
  padding-left: 5px;
}
.username {
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid grey;
}
.mountain {
  width: 30px;
}
