.mapContainer-700 {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  margin-top: -24px;
}

.mapContainer-500 {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-top: -24px;
}

.sidebarStyle {
  display: inline-block;
  position: relative;
  top: -30px;
  left: -30px;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
.map-700 {
  height: 700px;
}
.map-500 {
  height: 500px;
}
// .mapTop {
//   height: 100px;

//   margin-bottom: -40px;
// }
.coordinates {
  // background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
  z-index: 100;
  bottom: 80px;
  left: 5px;
  color: #4051b5;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
}

.edit_buttons {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 100;
  top: 15px;
  left: 10px;
  // width: 60px;
  width: 29px;
  height: 29px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  // border-top: 1px solid #ddd;
}
// .edit_button:last-of-type {
//   border-left: 1px solid #ddd;
// }
.edit_button {
  width: 29px;
  height: 29px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit_button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.photo {
  height: 500px;
  width: 700px;
  position: absolute;
  top: -24px;
  object-fit: cover;
  z-index: 1000;
}
