// .splash {
// background-image: url("/assets/landing.jpg");
// background-size: cover;
// background-repeat: no-repeat;
// background-attachment: fixed;
// }
.landing-blurb {
  padding-left: 100px;
  margin: 0 auto;
  margin-top: 200px;
}
.landing-title {
  font-size: 50px;
}

.demo-button {
  margin-top: 40px;
  background-color: white;
}
